// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

.navbar-brand > img {
    height: 80px;
}

.welcome {
    font-size: 4rem;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 0.1rem;
}
